.formInLogin {
    background-color: floralwhite;
    margin-left: 40%;
    margin-top: 3%;
    padding: 3em;
    padding-top: 1em;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.formInLogin input[type=text], .formInLogin input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.formInLogin button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.close {
    position: relative;
    /*right: 25px;*/
    /*top: 0;*/
    float: right;
    color: green;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}